**/artifacts/**
**/.deps
*_metadata*
/.idea/sonarlint/issuestore/index.pb
/.idea/Learning-BlockChain.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
.prettierrc.json
**/build/contracts/**.json
**/node_modules/**
.env
Dapps/Plantilla DApp/.secret
Dapps/Plantilla DApp/src/abis/JamToken.json
Dapps/Plantilla DApp/src/abis/Migrations.json
Dapps/Plantilla DApp/src/abis/StellartToken.json
Dapps/Plantilla DApp/src/abis/TokenFarm.json
Dapps/Plantilla DApp/src/abis/JamToken.json
Dapps/Plantilla DApp/src/abis/Migrations.json
Dapps/Plantilla DApp/src/abis/StellartToken.json
Dapps/Plantilla DApp/src/abis/TokenFarm.json
