**/artifacts/**
**/.deps
*_metadata*
.prettierrc.json
**/build/contracts/**.json
**/node_modules/**
.env
**/src/abis/**.json
.secret
**/.idea
Dapps/MarketPlaceNFT/src/backend/cache/solidity-files-cache.json
Dapps/MarketPlaceNFT/src/frontend/contractsData/MarketPlace-address.json
Dapps/MarketPlaceNFT/src/frontend/contractsData/Marketplace.json
Dapps/MarketPlaceNFT/src/frontend/contractsData/NFT-address.json
Dapps/MarketPlaceNFT/src/frontend/contractsData/NFT.json
Dapps/MarketPlaceNFT/package-lock.json
**/build/**
