**/artifacts/**
**/.deps
*_metadata*
.prettierrc.json
**/build/contracts/**.json
**/node_modules/**
.env
**/src/abis/**.json
.secret
**/.idea
Dapps/MarketPlaceNFT/src/backend/cache/solidity-files-cache.json
contractsData
Dapps/MarketPlaceNFT/package-lock.json
**/build/**
DAO/deployments/localhost/**
